.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }

.line-clamp-show-more {
    display: -webkit-box;
    /* -webkit-line-clamp: 4; */
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.bottom {
  bottom: 0;
}

.right {
  right: 0
}

.image-overlay {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  overflow: hidden;
  padding: 10% 10%;
  box-sizing: border-box;
  color: white;
  backdrop-filter: brightness(50%);
}
.text-overlay {
  display: flex;
  height: 100%;
  align-items: center
}

.display {
  display: initial;
}