.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }

.line-clamp-show-more {
    display: -webkit-box;
    /* -webkit-line-clamp: 4; */
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.bottom {
  bottom: 0;
}

.right {
  right: 0
}